*{
    background-color: grey;
}
canvas {
    height: 10em;
    width: 10em;
}
#results {
    border: solid;
}
footer {
    border: solid;
} */
nav {
    display:inline
}
section {
    width: 60em;
    border: solid
}
ul{
    width: 300px;
}