*{
    background-color: red;
}
canvas {
    height: 10em;
    width: 10em;
}
#results {
    border: solid;
}
footer {
    border: solid;
} */
nav {
    display:inline
}
section {
    border: solid;
}